/*  
Theme Name: Clean Copy
Author URI: http://corymiller.com
Version: 1
Author: Cory Miller
Description: Clean Copy 2 Column is a clean blue, grey and white theme designed for blog content and sharp simplicity.
The CSS, XHTML and design is released under GPL: 
http://www.opensource.org/licenses/gpl-license.php
Header photo by Ville Miettinen, used with permission
*/

.about_light {color:#666;font-weight:bold;}
.port_cont {width:545px;height:400px;margin:50px auto 0 auto;}
.port_cont .ngg-gallery-thumbnail img {border:1px solid #ccc !important;}
.port_cont_right {float:right; margin-bottom:10px;}
.port_cont_left {float:left; margin-bottom:10px; }

.port_cont_mob {width:601px;height:400px;margin:50px auto 0 auto;}
.port_cont_right_mob {float:right; margin-bottom:10px;}
.port_cont_left_mob {float:left; margin-bottom:10px; }
.port_cont_mob img {width:100px; height:75px;}
.port_cont_mob .ngg-gallery-thumbnail img {border:none !important;}
.port_cont_mob h1     {color: #2F2F2F; font-weight:normal;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
text-shadow:white 0 1px 0;
}
#port_cont_mob_one {float:left;height:280px;width:100%;}
#port_cont_mob_two {float:left;height:280px;width:100%;margin-top:40px;}


.shashinThumbnailsTable {margin:0 !important;}
.about_name {color:#0065B3;}
#contact {width:400px;height:100%;margin:60px auto 0 auto;}
.wpcf7-form input, .contactenpu {color:#666; font-size:12px;padding:3px;}
#shashinGroup_1_1 a, #shashinThumbnailDiv a {border:0 !important;}
.shashin_caption_title {display:none !important;}
.ngg-modal-content {font-size:14px !important;}
body {
	background: #fff;
	color: #000000;
	font-size: 16px;
	font-family: "Open Sans","Helvetica","Arial";
	margin: 0px 0px 0px 0px;
	}

body * {margin: 0px; padding: 0px;}

#content h4 {width:100%;height:60px;text-align:center;font-size:34px;color:#FF14D2;margin:20px 0;font-style:italic;}
#lightbox-image-details-currentNumber {color:#0065B3 !important;text-align:center !important; margin-top:20px !important;font-size:11px !important;}
#lightbox-image-details-caption, #lightbox-image-details {color:black !important;}

#container { 
	background: #ffffff;
	width: 780px;
	text-align: left; 
	margin: 10px auto 0px auto; 
	overflow: hidden;
	min-height:1000px;
	}
#header {
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    padding: 0px;
    text-align: left;
	}	
#header h2 {
	color: #000;
	font-size: 30px;
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	font-weight: bold;
	margin-top:2px;
	width:auto;
	float:left;
	}

#header h2 a {
	color: #000;
	text-decoration: none;
	}

#header h2 a:hover {
	color: #000;
	text-decoration: none;
	}

#header h3 {
	color: #ffffff;
	float:left;
	font-size: 13px;
	width:auto;
	font-family: Georgia, Times New Roman, Sans-Serif;
	text-indent: 5px; 
	margin: 0px;
	text-display:-9999px;
	}
#header_cont {width:auto;height:36px;padding:0 10px;}
#menu { 
	margin: 10px 0 0 0;
	float:right;
	width:auto;
	padding: 4px 0px 4px 0px;
	text-align: center;
	}
#menu img{
	border: none;
	}
#menu li {
	display: inline;
	list-style-type: none;
	margin: 0px 10px;
	padding: 0px;
	}
		
#menu ul {

	padding: 4px;
	}
.about_sub {color:#000; font-weight:bold;}

#menu ul li a {
	font-size: 15px;
	color: #666;
	padding: 0px 0 5px 0;
	margin: 0px;
	text-decoration: none;
	}

#menu ul li a:hover {
	text-decoration: none;
	padding: 0px 0 2px 0;
	margin: 0px;
	color:#278DFF;
	border-bottom:2px solid #FF14D2;
	}
#content { 
	display: block;
	background: #ffffff;
	width: 100%; 
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	float: left; 
	position:relative;
	padding: 0px 0px 15px 0px;
	}
#content p{
	margin: 0px;
	line-height: 18px;
	padding: 0px 0px 20px 0px;
	text-align:justify;
	}



	
#content blockquote p{
	margin: 0px 0px 20px 0px;
	padding: 0px;
	}

.postspace {
	width: 440px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	}
.postspace2 {
	width: 440px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	}
.postspace3 {
	width: 440px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	}


#sidebar { 
	display: block;
	color: #000000;
	width: 190px;
	float: left; 
	position:relative;
	margin: 20px 20px 20px 20px;
	padding: 20px 30px 20px 30px;
	text-align: left;
	border: 1px solid #cccccc;
	}


#sidebar p{
	margin: 0px;
	line-height: 16px;
	padding: 5px 0px 10px 0px;
	}

#sidebar h2 {
	color: #333333;
	font-size: 15px;
	font-family: Helvetica Bold, Arial Bold, Verdana, Sans-Serif;;
	list-style: none;
	padding: 10px 0px 10px 0px;
	margin: 0px;
	border-bottom: 1px solid #cccccc;
	}

#sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	}
	
#sidebar li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#sidebar ul li {
	list-style: none;
	margin: 0px;
	padding: 6px 0px 5px 0px;
	}
#sidebar ul li a {
	color: #2397E9;
	font-weight: bold;
	text-decoration: underline;
	}

#sidebar ul li a:hover {
	color: #000000;
	text-decoration: none;
	}
#footer { 
display:none;
	}
#footer a {
	color: #FFFFFF;
	text-decoration: none;
	}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
	
/* lAnDinG pAGE SpECiFiC STylnG */
#landing_header {height:100px;margin-top:75px;float:left;width:100%;background:white;}
#landing_header a {border-bottom:2px solid #0D55A6;padding-bottom:5px;color:#2F2F2F !important;text-decoration:none;}
#landing_header a:hover {color:#fff;border-bottom:0;}
#landing_header h1 {width:700px;margin:0 auto;font-size:25px;line-height:150%;text-align:center;color:#2F2F2F;font-weight:normal;text-shadow:white 0 1px 0;
}

#work_landing_text {height:100px;margin-top:75px;float:left;width:100%;background:white;}
#work_landing_text a {border-bottom:2px solid #0D55A6;padding-bottom:5px;color:#2F2F2F !important;text-decoration:none;}
#work_landing_text a:hover {color:#fff;border-bottom:0;}
#work_landing_text h1 {width:700px;margin:0 auto;font-size:25px;line-height:150%;text-align:center;color:#2F2F2F;text-decoration:none;font-weight:normal;text-shadow:white 0 1px 0;
}


#portfolio {margin-top:400px;height:300px;background:pink;width:100%;float:left;}
.logo_one {font-weight:normal;font-size:24px;font-family:arial;color:#FF6600;}
.logo_two {font-weight:normal;font-style:italic;font-family:times new roman;font-size:28px;color:#FF6600;}

#contact_right {width:400px;font-size:14px;margin:0 auto;}
.contact_required {color: #FF6600;}
#contact_right p {text-align:justify;}
#contact_left {width:100%;float:left;font-size:14px;}
#contact_left ul {margin:10px 0 0 0;padding:0;}
#contact_left ul li.email {background:url(images/contact_email.jpg) no-repeat;padding:8px 0 0 45px;list-style:none;min-height:40px;margin-bottom:5px;font-weight:bold;color:#0065B3;}
#contact_left ul li.phone {background:url(images/contact_phone.jpg) no-repeat;padding:8px 0 0 45px;list-style:none;min-height:40px;margin-bottom:5px;font-weight:bold;color:#0065B3;}
#contact_left ul li.home {background:url(images/contact_home.jpg) no-repeat;padding:8px 0 0 45px;list-style:none;min-height:40px;margin-bottom:5px;font-weight:bold;color:#0065B3;}
#contact_left img {float:left;padding:5px;border:1px solid #ccc;margin-right:10px;}

#content h2 {color:#FF6600; border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:10px;font-weight:bold;font-size:18px;}
#content h3 {color:#0D55A6; font-weight:bold;padding:0;margin:0 0 1px 0;font-size:16px;}
#contact_right input, #contact_right textarea {border:1px solid; height:30px;font-size:18px;text-align:center !important;color:#999;width:390px;text-shadow:0 -1px 0 #000000;}
#contact_right textarea {height:120px !important; font-family:helvetica,sans-serif; padding:5px !important;width:380px !important;}
.wpcf7-submit {
color:white !important; 
padding:5px !important; 
height:auto !important; 
background:#2FAACE !important;
font-size:15px !important; 
font-weight:bold !important; 
font-family:arial,serif; 
border-radius: 10px;
}

#porfolio_landing {width:100%;float:left;height:200px;}
#portfolio_landing_one {width:auto;font-size:32px;text-align:center;font-style:italic;float:left;}
#portfolio_landing_two {width:auto;font-size:32px;text-align:center;font-style:italic;float:left;margin:0 0 0 170px;}
#portfolio_landing_three {width:auto;font-size:32px;text-align:center;font-style:italic;float:right;}

/* try chnages */
#current { border-bottom:2px solid #FF14D2;padding-bottom:2px !important;}
#current a:hover {border:0 !important;color:#ff6600;}
#current a {padding: 0 !important;margin:0 !important;}


/*End of try changes for menu*/

#content ul {margin-bottom:10px;}
#content ul li {padding:0 10px 0 0;float:left;list-style:none;}
.port_item {width:100%;height:150px;float:left;}
.port_item_top {width:100%;height:335px;float:left;}
.port_item_top_mobile {width:100%;height:245px;float:left;}
#page_header {padding:30px 0;background:#2FAACE;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;margin-bottom:30px;}
h3.page_header {
text-shadow: 0px -1px 0px #000;
filter: dropshadow(color=#000,offX=0,offY=1);
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  color: white;
  font-style:italic;

}
#lightbox-image-details-caption, #lightbox-image-details {margin-top:30px !important;font-size:14px !important;line-height:130% !important;text-align:justify !important;font-weight:normal !important;margin-bottom:30px !important;}
#lightbox-nav, #lightbox-nav-btnPrev, #lightbox-nav-btnNext {margin-top:100px !important;}

#about {height:200px;width:590px;margin:0 auto;}
#about_right {width:600px;float:left;}
#about_left {width:330px;float:left;margin-left:20px;font-size:15px !important;}
#about_right ul li {padding:0 0 10px 0 !important;list-style:circle !important;font-size:15px !important;}


    img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
    }

    img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
    }

    .alignright {
    float: right;
    }

    .alignleft {
    float: left;
    }
#about_right ul {width:250px;float:right;}
li.mobile .ngg-gallery-thumbnail img, li.mobile .ngg-gallery-thumbnail img:hover {border:0px !important; background:none !important;}
.ngg-gallery-thumbnail img {padding:0px !important;}
#about_second {color:#333;line-height:20px; margin:0 0 40px 0}
#about_bottom {color:#333;line-height:20px;}
#about_top {color:#333;line-height:20px;margin:0 0 40px 0;}
#about_bottom {color:#333;line-height:20px;}

#sidebar_about {width:100px;float:left;}
#sidebar_content{width:680px;float:right;}
.shashinPhotoGroups {width:613px;margin:0 auto;}
.shashinThumbnailDiv {pointer-events: none !important;border:none !important;}
.shashinThumbnailImage {pointer-events: none !important;}
.loadingdiv{
	 display:block;

    /*set the div in the center of the screen*/
    position:absolute;
    top:50%;
    left:35%;
    width:350px;
}