<div class="picasaView clearfix">
	<a href="%ALBUMLINK%" title="%ALBUMSUMMARY%"><img src="%THUMBNAILPATH%" alt="%ALBUMTITLE%" title="%ALBUMSUMMARY%" /></a>
	<h3><a href="%ALBUMLINK%">%ALBUMTITLE%</a></h3>
	<p>%ALBUMSUMMARY% <small>(%CREATIONDATE%, %TOTAL_RESULTS% %TOTAL_RESULTS_LABEL%)</small></p>
</div>

