<div class="picasaViewPageWrapper">
	<div class="picasaViewPreviousPage">
	%IF_PREVIOUS_PAGE%
		<a href="%PREVIOUS_PAGE_LINK%">%PREVIOUS_PAGE_LABEL%</a>
	%ENDIF_PREVIOUS_PAGE%
	</div>
	<div class="picasaViewCurrentPage">
		%SHOWING_RESULTS_LABEL% 
		<strong class="picasaViewShowingResults">%SHOWING_RESULTS%</strong>
		 %TOTAL_RESULTS_LABEL% 
		<strong class="picasaViewTotalResults">%TOTAL_RESULTS%</strong>
	</div>
	<div class="picasaViewNextPage">
		%IF_NEXT_PAGE%
			<a href="%NEXT_PAGE_LINK%">%NEXT_PAGE_LABEL%</a>
		%ENDIF_NEXT_PAGE%
	</div>
</div>